<fabric-ui-label [content]="labelContent">
</fabric-ui-label>

<fabric-ui-label [content]="labelContent" [disabled]="disabled">
</fabric-ui-label>

<fabric-ui-label [content]="labelContent" [required]="required">
</fabric-ui-label>

<fabric-ui-label content="Extra Small Spinner">
</fabric-ui-label>

<fabric-ui-spinner [size]="spinnerSize.xSmall">
</fabric-ui-spinner>

<fabric-ui-label content="Small Spinner">
</fabric-ui-label>

<fabric-ui-spinner [size]="spinnerSize.small">
</fabric-ui-spinner>

<fabric-ui-label content="Medium Spinner">
</fabric-ui-label>

<fabric-ui-spinner [size]="spinnerSize.medium">
</fabric-ui-spinner>

